.contenedorDatosPrincipal {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: first baseline;
    overflow-y: scroll;
    z-index: 5;
    gap: 10px;
}

.tituloPrincipalDatos {
    font-size: 35px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.contenedorPrincipalDatos {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

@media (max-width: 640px) {
    .contenedorDatosPrincipal {
        width: 85%;
    }
}