.imageWallpaper {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 90%;
    z-index: 0;
    overflow:hidden;
}

.imageWallpaper img {
    width: 90%;
    height: auto;
    opacity: 0.3;
    transition: all 0.5s ease;
    filter: blur(2px);
}