:root{
  --color-texto:aliceblue;
  --color-acoplado:rgb(182, 57, 89);
  --color-selva:#3dad2e;
}
*{
  margin: 0;
  padding: 0;
}
body{
    background: aliceblue;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main{
  max-width: 1200px;
  width: 90%;
  display: flex;
  flex-direction: row;
}
@media (max-width: 640px){
  #main{
    flex-direction: column;
    width: 95%; 
  } 
}
