---
import  "congreso:styles/titulo.css"
import "animate.css"

interface Props{
    titulo:string,
    subtitulo:string,
    descripcion:string | null,
    opciones?:Array<{"nombre":string,"direccion":string}>
}

const {titulo="ejemplo1", subtitulo="none" ,descripcion="esto es un ejemplo",opciones=[{"nombre":"escuela","direccion":"#pagina"}] } = Astro.props;


---


<div class="tituloContent ">
    <div class="contenedorTitulo">
        <div class="contenedorTitle" >
            <p class="tituloMaster" > { titulo } </p>
            <p class="descripcion">{subtitulo}  </p>
        </div>
        <div>
            <p> {descripcion} </p>
            { opciones?.map(opcion=>{
                return(
                    <div>
                        <a href={opcion.direccion} > {opcion.nombre}</a>
                    </div>
                )
            })}
        </div>
    </div>
</div>