---
import "../../styles/global.css";
import Patrocinadores from "../../components/inicio/Patrocinadores.astro";
import Layout from "../../layouts/Layout.astro";
import Header from "./header.astro";
import Informacion from "./informacion.astro";
import { getCollection } from "astro:content";

const [staticData] = await getCollection("staticData");
const { pageTitle, pageDescription, OGImage } = staticData.data;
---

<Layout
  pageTitle={pageTitle}
  description={pageDescription}
  ogimage={{ alt: OGImage.alt, url: OGImage.url }}
>
    <div class="w-full h-15"></div>
    <Header />
    <Informacion />
    <Patrocinadores />
</Layout>